
body{
  margin: 0;
  padding: 0;
  background-color: #f1f8ff;
  font-family: 'Poppins';
}

nav{
  width: 100%;
  display: flex;
 align-items: center;
 justify-content: center;
 margin: 40px 0 40px 0;


 
 }

 
 
 .logo{
  color: #415a77;
  font-weight: 800;
  font-size: 24px;

  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.nav-r{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;

}
a{
  text-decoration: none;
  color: #051e3b;
  margin: 0 0.8rem;
  font-size: 0.9rem;
  color: #02000f;
  font-size: 16px;
}

#logo{

  color: #415a77;
  font-weight: 800;
  font-size: 24px;

  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;


 }
 .nav-r{
  width: 100%;
  display: flex;
 align-items: center;

 justify-content: center;
 margin: 40px 0 40px 0;}


 .product_details_sec{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin-top: 120px;
 }
 .product_img{
  width: 35%;
  margin: 16px ;
  height: 360px;

 
}
.image{
  width: 100%;
  height: 360px;
}
.image:hover{
  cursor: pointer;
  opacity: 0.8;
}
.product-info{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 40px;
}
.title{
  font-weight: 500;
  font-size: 1.6rem;
  color: #031122;
}
.name, .details{
  color: #676b74;
  font-weight: 400;
  font-size: 1.2rem;
  width: 100%;
}
.details{
  height: 120px;
}

.title-sec, .details-sec{
  width: 100%;
  background-color: #FFFFFF;
  margin: 16px 0; 
  padding: 1rem 1.2rem ;

} 

.add_product, .sub_product{
  width: 40px; height: 40px; 
  display: flex; align-items: center; justify-content: center; font-size: 22px; background-color: #03305f;
  border: none;
  color: #fff;
  cursor: pointer; 
  } 
  .add_product:hover, .sub_product:hover {
    background-color: #226ab8;
    cursor: pointer;

  }
  input{
  height: 38px;
  border: 1px solid #e7e6f8;
  font-size: 1.1rem;
  padding: 0px 16px;
  color: #56565c;
  margin-bottom: 24px;
 
  
  }
.product_qty{
  display: flex;
}
.product_btn{

  background-color: #0b55aa;
  border: none;
  color: #FFFFFF;
  width: 100%;
  height: 24px;
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 4px;
}
.product_btn:hover{
  background-color: #498fdf;
  cursor: pointer;
}
