{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ordered</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{% static 'css/order.css' %}">


<style>
    
nav{
  width: 100%;
  display: flex;
 align-items: center;
 justify-content: center;
 margin: 0;
 padding: 2rem;
 box-shadow: 0px 4px 10px rgba(46, 46, 48, 0.2)
 }


   
 .dis{
    cursor: not-allowed;
    background-color: #b1b1b1;
    color: #d8d7d7;
 }
</style>
</head>

<body>
    <div class="hero">
        {{ user.full_name }}'s Buying List <br>
        <!-- <div class="msg-err">
            {% for m in messages %}
                ___{{m}}
            {% endfor %}
        </div> -->
       </div>
    <nav>
    <div class="logo" > Shop</div>
    <div class="nav-r">
        <a href="{% url 'done_order' %}">My Profile</a>
    </div>
    
    </nav>
   

{% if user.is_superuser %}
<div> </div>
{% else %}
<div class="table-sec1">
    <h2>My Orders</h2>
<div class="table">
    <div class="thead">
        <div class="tr">
          
            <div class="th">Product</div>
            <div class="th">Quantity</div>
            <div class="th">Price</div>
            <div class="th">Status</div>
            <div class="th">Order Date</div>
            <div class="th">CASH PAY</div>
        </div>
    </div>
    <div class="tbody">
        {% if orders %}
        {% for order in orders %}
        <div class="tr1">
       
            <div class="td">{{ order.product.name }}</div>
            <div class="td">{{ order.quantity }}</div>
            <div class="td">{{ order.price }}</div>
            <div class="td">{{ order.status }}</div>
            <div class="td">{{ order.order_date }}</div>
            <div class="td">
                

                <!-- paypal  -->
                {% if order.status == 'Pending' %}
                <!-- PayPal SDK (sandbox) -->
                <script src="https://www.paypal.com/sdk/js?client-id=AaChGKfIL-Qz0PrUErEgFbhg7CVFLEU-WAippXu1oB5mXwlDCgRxLLyXPazULwKXGvghbOxLNIJG9lmL"></script>
                
                <!-- Container for the PayPal button -->
                <div id="paypal-button-container"></div>
                
                <!-- Hidden form to send PayPal data to Django -->
                <form id="paypal-form" method="post" action="{% url 'paypal_complete' order.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="paypal_order_id" id="paypal_order_id">
                  <input type="hidden" name="paypal_transaction_id" id="paypal_transaction_id">
                </form>
                
                <script>
                  // Render the PayPal button
                  paypal.Buttons({
                    createOrder: function(data, actions) {
                      
                      return actions.order.create({
                        purchase_units: [{
                          amount: { value: '{{ order.price }}' }
                        }]
                      });
                    },
                    onApprove: function(data, actions) {
                  
                      return actions.order.capture().then(function(details) {
                        
                        document.getElementById('paypal_order_id').value = data.orderID;
                        document.getElementById('paypal_transaction_id').value = details.id;
                        document.getElementById('paypal-form').submit();
                      });
                    }
                  }).render('#paypal-button-container');
                </script>
              {% endif %}
           
                <!-- paypal  -->
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="td">NO ORDERS.  <a href="{% url 'home' %}" >  <strong>BUY More>></strong></a></div>
        {% endif %}
    </div>
</div>
</div>
{% endif %}




{% if user.is_superuser %}




<div class="table-sec2">
    <h2>All Orders - Admin Panel</h2>
<div class="table">
    <div class="thead">
        <div class="tr">
            <div class="th">Order ID</div>
            <div class="th">Customer</div>
            <div class="th">Product</div>
            <div class="th">Quantity</div>
            <div class="th">Amount</div>
            <div class="th">Status</div>
            <div class="th">Order Date</div>
            <div class="th-actions">Actions</div>
        </div>
    </div>
    <div class="tbody">
        {% if orders %}
        {% for order in orders %}
        <div class="tr">
            <div class="td">{{ order.id }}</div>
            <div class="td">{{ order.user.full_name }}</div>
            <div class="td">{{ order.product.name }}</div>
            <div class="td">{{ order.quantity }}</div>
            <div class="td">{{ order.price }}</div>
            <div class="td status">{{ order.status }}</div>
            <div class="td">{{ order.order_date }}</div>
            <!-- action start  -->
            <div class="td">
                <div class="actions">
                    <form method="POST" action="{% url 'admin_orders' %}">
                        {% csrf_token %}
                        <div class="actions-l">
                           
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        {% if order.status == "Pending" %}
                        <button type="submit" name="action" value="confirm_order" class="btn btn-success">Confirm</button>
                        {% elif order.status == "Paid" %}
                        <button type="submit" name="action" value="confirm_order" class="btn btn-success">Confirm</button>
                        {% elif order.status == "Cancelled" %}
                        <!-- <button type="submit" name="action" value="confirm_order" class="btn btn-success">Confirm</button> -->
                        <button  class="dis btn btn-success " title="Only Confirm Once">Confirm</button>
                        {% elif order.status == "Confirmed" %}
                        <button  class="dis btn btn-success " title="Only Confirm Once">Confirm</button>
                        {% endif %}
                    
                        <!-- <button type="submit" name="action" value="cancel_order" class="btn btn-warning">Cancel</button> -->
                        {% if order.status == "Pending" %}
                        <button type="submit" name="action" value="cancel_order" class="btn btn-warning">Cancel</button>
                        {% elif order.status == "Paid" %}
                        <button type="submit" name="action" value="cancel_order" class="btn btn-warning">Cancel</button>
                        {% endif %}
                      
                     
                       
                      
                        </div>
                    </form>

                    <div class="actions-r">
                        <form method="POST" action="{% url 'delete_order' order_id=order.id %}">
                            {% csrf_token %}
                            
                            <button type="submit" name="action" value="delete_order" class="btn btn-danger" 
                             title="Warning ! Action will Remove History from User Database" onclick="showalert()"
                            >Delete</button>
                        </form>
                    </div>
                </div>

            </div>
             <!-- action ends  -->
        </div>
        {% endfor %}
        {% else %}
        <div class="td">No Current Orders</div>
        {% endif %}
    </div>
</div>
</div>

{% endif %}

<script>
        function showalert(){
           
            window.alert(`Delete Action Completed`);
            
        }
        function clicked(){
            window.alert(` 
            Payment Recieved. 
            Thanks For Purchasing. 
            Please, Wait for Confirmation.`)
        }
      
</script>
</body>
</html>