{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{% static 'css/order.css' %}">



</head>

<body>
    <div class="hero">
        {{ user.full_name }}'s Buying List <br>
        <div class="msg-err">
            {% for m in messages %}
                ___{{m}}
            {% endfor %}
        </div>
       </div>
    <nav>
    <div class="logo" >&#127860; Shop</div>
    <div class="nav-r">
        <a href="{% url 'user' %}">My Profile</a>
    </div>
    
    </nav>
   


<div class="table-sec1">
    <h2>My Orders</h2>
<div class="table">
    <div class="thead">
        <div class="tr">
          
            <div class="th">Product</div>
            <div class="th">Quantity</div>
            <div class="th">Price</div>
            <div class="th">Status</div>
            <div class="th">Order Date</div>
            <div class="th">CASH PAY</div>
        </div>
    </div>
    <div class="tbody">
        {% if orders %}
        {% for order in orders %}
        <div class="tr1">
       
            <div class="td">{{ order.product.name }}</div>
            <div class="td">{{ order.quantity }}</div>
            <div class="td">{{ order.price }}</div>
            <div class="td">{{ order.status }}</div>
            <div class="td">{{ order.order_date }}</div>
            <div class="td">
                <form method="POST" action="{% url 'orders' user_id=order.user.id%}">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value="{{ order.id }}">
                    {% if order.status == "pending" %}
                        <!-- <button type="submit" name="action" value="pay_order" class="btn btn-primary">Pay</button> -->
                        
                        <form method="POST" action="{% url 'orders' user_id=user.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            {% if order.status == "pending" %}
                                <button type="submit" name="action" value="pay_order" class="btn btn-primary btn-pay">Pay</button>
                            {% else %}
                                <span>Paid</span>
                            {% endif %}
                        </form>
                    {% else %}
                        <span>Paid</span>
                    {% endif %}
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="td">NO ORDERS.  <a href="{% url 'home' %}" style="text-decoration: underline;">  BUY More></a></div>
        {% endif %}
    </div>
</div>
</div>





{% if user.is_superuser %}




<div class="table-sec2">
    <h2>All Orders - Admin Panel</h2>
<div class="table">
    <div class="thead">
        <div class="tr">
            <div class="th">Order ID</div>
            <div class="th">Customer</div>
            <div class="th">Product</div>
            <div class="th">Quantity</div>
            <div class="th">Amount</div>
            <div class="th">Status</div>
            <div class="th">Order Date</div>
            <div class="th-actions">Actions</div>
        </div>
    </div>
    <div class="tbody">
        {% if orders %}
        {% for order in orders %}
        <div class="tr">
            <div class="td">{{ order.id }}</div>
            <div class="td">{{ order.user.full_name }}</div>
            <div class="td">{{ order.product.name }}</div>
            <div class="td">{{ order.quantity }}</div>
            <div class="td">{{ order.price }}</div>
            <div class="td">{{ order.status }}</div>
            <div class="td">{{ order.order_date }}</div>
            <!-- action start  -->
            <div class="td">
                <div class="actions">
                    <form method="POST" action="{% url 'admin_orders' %}">
                        {% csrf_token %}
                        <div class="actions-l">
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <button type="submit" name="action" value="confirm_order" class="btn btn-success">Confirm</button>
    
                        <button type="submit" name="action" value="cancel_order" class="btn btn-warning">Cancel</button>
                        </div>
                    </form>

                    <div class="actions-r">
                        <form method="POST" action="{% url 'delete_order' order_id=order.id %}">
                            {% csrf_token %}
                            <button type="submit" name="action" value="delete_order" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
             <!-- action ends  -->
        </div>
        {% endfor %}
        {% else %}
        <div class="td">No Current Orders</div>
        {% endif %}
    </div>
</div>
</div>

{% endif %}



</body>
</html>