{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/register.css'%}">

</head>
<body>
  <div class="logo"> Shop</div>
{% if error %}
    <p style="color: rgb(233, 8, 38)">{{ error }}</p>
{% endif %}
<div class="main">
<div class="left">
  <div class="left-title">Register</div>
</div>
<div class="right">
<form method="post">
    {% csrf_token %}
    <div class="form-info">
      <div class="label">
        <label>Email:</label><input type="email" name="email"  placeholder="Enter Your Email..."  required> 
      </div>
      <div class="label">
        <label>Password:</label><input type="password" name="password" placeholder="Enter Your Password..."  required> 
      </div>
      <div class="label">
        <label>Full Name:</label><input type="text" name="full_name"  placeholder="Enter Your Full Name..."  required>
      </div>
      <div class="label">
        <label>Address:</label><textarea name="address"   placeholder="Enter Your Address..."  required></textarea>
      </div>
      <div class="label">
        <label>Phone Number:</label><input type="text" name="phone_number" placeholder="Enter Your Phone..."  required>
      </div>
    </div>
    <button type="submit">Register</button>
    <div class="reg-link">
      Already have an account? <a href="{% url 'login' %}">Log in</a>
    </div>
</form>
</div>
</div>
</body>
</html>